body {
  background-color: #91C6E5;
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 300;
  font-size:16px;
}
p {
  margin: 0;
  padding: 0 5px 30px 5px;
  box-sizing: border-box;
  line-height: 1.2;
}
a {
  color: black;
  background-color: none;
  font-style: italic;
  transition: background-color 0.3s;
}
a:hover {
  background-color: white;
  transition: background-color 0.3s;
}
a.blocky {
  text-decoration: none;
  text-shadow:none;
  color: #6F3EC8;
  background: white;
  transition: all 0.3s;
}
a.blocky:hover {
  transition: all 0.3s;
  color: rgba(111,62,200, 0.7);
  cursor: hand;
}
canvas {
  opacity: 0.5;
}
.video {
  overflow: hidden;
}
video {
  height: 345px;
  margin-left: -116px;
}
.link {
  text-align: center;
  padding-top:40px;
}
.highlight {
  /*background: #6F3EC8;*/
}
#main-container {
  height: 100vh;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
#interactives {
  display:none;
}
#intro {
  text-align: center;
  margin-top: 40px;
}
#intro p {
  text-align: center;
  margin-top: 40px;
}
#intro a, #intro .reset {
  cursor: pointer;
  font-size: 13px;
  background: transparent;
  color: white;
  text-decoration: underline;
  transition: color 0.3s;
}
#intro a:hover, #intro .reset:hover {
  color: black;
  transition: color 0.3s;
}
.reset {
  display:none;
}
#wordmark {
  max-width: 400px;
  width: 90vw;
}
#celebrations {
  display: flex;
  flex-flow: column nowrap;
}
.celebration {
  background-color: rgba(255,255,255,0.85);
  padding: 10px;
  margin: 40px 0;
}
.celebration .title {
  display:block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 13px;
  color: black;
}
.celebration .details-wrapper {
  width:100%;
  height:auto;
  background-size: 100% auto;
  background-repeat: repeat-y;
}
.celebration .details {
  color: black;
  letter-spacing: 1px;
}
.celebration .details p:first-child {
  padding: 30px 5px 30px;
}
.celebration .details p:last-child {
  padding: 0 5px 30px;
}
.celebration#wedding { order: 1;}
.celebration#story { order: 2;}
.celebration#orlando { order: 3;}
.celebration#york { order: 4;}
.celebration#brooklyn { order: 5;}

.celebration#wedding .details-wrapper { background-image: url('../img/sedona.jpg');}
.celebration#story { order: 2;}
.celebration#orlando .details-wrapper { background-image: url('../img/orlando.jpg'); order: 3;}
.celebration#york .details-wrapper { background-image: url('../img/york.jpg'); order: 4;}
.celebration#brooklyn .details-wrapper { background-image: url('../img/brooklyn.jpg'); order: 5;}

body#not-found #intro {
  text-align:center;
  color: white;
}

@media (min-width: 769px) {
  #main-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  #interactives {
    display:block;
  }
  #content {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  #intro {
    text-align: left;
  }
  #wordmark {
    padding: 50px;
  }
  .reset {
    display:block;
  }
  #celebrations {
    display:block;
  }
  .celebration {
    width: 60vw;
    max-width: 600px;
    height: 40vw;
    max-height: 400px;
    position: absolute;
    display:none;
    cursor: move;
  }
  .celebration .details-wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 30px;
    height:100%;
  }
  .celebration .details {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
  }
  .celebration#wedding { top: 5%; left: 50%; }
  .celebration#story { top: 50%; left: 2%; }
  .celebration#orlando { top: 20%; left: 30%; }
  .celebration#york { top: 45%; left: 35%; }
  .celebration#brooklyn { top: 53%; left: 70%; }
  video {
    height: auto;
    max-height: calc(100% - 35px);
    margin-left: 0;
  }
}
